


.input{
  position: center;
  width: 20%;
  margin: 2px auto;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px #cccccc;
  padding: 10px;
  text-align: center;
}

.btn{
  width: 20%;
  margin: 2px auto;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px #cccccc;
  padding: 10px;
  text-align: center;
}
